.game {
    padding: 10px;
    border-bottom: 2px solid lightgray;
}

.gameName {
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
}

.gameIntro {
    font-family: "Architects Daughter", cursive;
    font-size: 20px;
    padding-bottom: 20px;
}

#avatarHUD {
    padding-top: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-left: 10px;
}

#avatarHudTitle {
    font-family: 'Sigmar One', sans-serif;
    font-size: 30px;
}

#avatarPic {
    width: 300px;
    padding-top: 10px;
    display: block;
    margin: auto;
}

#avatarStatus {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
}

#playTimeGame {
    padding-top: 10px;
    padding-left: 10px;
}

#targetTime {
    font-family: "Orbitron", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

#start {
    font-size: 20px;
    font-family: "orbitron", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: red;
    border: 0px solid black;
    width: 100%;
}

#ssNumber {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-align: center;
}

.securitybuttons {
    width: 49%;
    font-size: 20px;
    font-family: "orbitron", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: red;
    border: 0px solid black;
}

#ssGameInstr {
    font-family: "orbitron", sans-serif;
    font-size: 20px;
}

.ss2field {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#sspt1 {
    width: 35px;
    text-align: center;
}

#sspt2 {
    width: 25px;
    text-align: center;
}

#sspt3 {
    width: 40px;
    text-align: center;
}

#submitSSguess {
    width: 17%;
    font-size: 20px;
    font-family: "orbitron", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: red;
    border: 0px solid black;
}

.ssFormError {
    color: #ff0000;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
}

#ssGuess {
    padding-top: 10px;
    font-family: 'Sigmar One', sans-serif;
    font-size: 40px;
    color: red;
}

#tttLabel {
    font-family: "Orbitron";
    font-size: 30px;
    text-align: center;
}

#tttBoard {
    border: 1px solid black;
    display: block;
    margin: 15px auto;
}

#tttStatus {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#tttStart {
    margin: auto;
    display: block;
    width: 20%;
    font-size: 15px;
    font-family: "orbitron", sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: red;
    border: 0px solid black;
    margin-bottom: 10px;
    margin-top: 5px;
}

table,
th,
td {
    border: 2px solid red;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.tttButton {
    width: 100%;
    font-size: 15px;
    font-family: "orbitron", sans-serif;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: red;
    border: 0px solid black;
}

.tttseparate {
    padding: 0px;
    border-style: solid;
    border-color: red;
    border-width: 0px 2px;
}

#netGame {
    display: none;
}

#saveNet {
    font-size: 20px;
    font-family: "orbitron", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: red;
    border: 0px solid black;
    width: 100%;
}
