#customizeForm {
    font-family: 'Quicksand', sans-serif;
    padding: 10px 20px;
}

input {
    font-family: 'Quicksand', sans-serif;
}

input[type="text"] {
    width: 13%;
}

#submitCustomizeForm {
    border-radius: 20px;
    width: 10%;
    background-color: white;
}

.required {
    color: red;
    font-size: 11px;
}
