#downloadlist {
    padding: 15px;
    border-bottom: 2px solid lightgray;
}

#listtitle {
    font: 30px "quicksand", sans-serif;
}

#dlList {
    padding: 12px;
}

#dlList a {
    font: 20px "open sans condensed", sans-serif;
    text-decoration: none;
}

.downloads {
    padding: 10px;
    border-bottom: 2px solid lightgray;
}

.downloadtitle {
    font: 25px "quicksand", sans-serif;
}

.downloadtext {
    font: 17px "architects daughter", sans-serif;
}

.hash {
    font: 16px "open sans condensed", sans-serif;
}

.dltext {
    display: inline-block;
    vertical-align: middle;
    font: 30px 'Sigmar One';
    color: darkorange
}

.dlpic {
    display: inline-block;
    width: 5%;
    vertical-align: middle;
}
