.footer {
    background-color: #000000;
    color: white;
    height: 200px;
    font-family: Helvetica, sans-serif;
    font-size: 13px
}

.footer p {
    padding: 20px 20px;
}

.Nicolinet.com {
    cursor: pointer;
}

a {
    color: inherit;
    cursor: pointer;
}
