* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    position: fixed;
    padding: 0;
    top: 0;
    width: 100%;
    font-size: 0px;
    background-color: white;
    z-index: 1000;
}

.heading h2 {
    text-align: center;
    font-family: 'Sigmar One', cursive;
    color: #ff0000;
    font-size: 4.6vw;
    cursor: pointer;
    margin-bottom: -7px;
}

#splash {
    font-size: 1.2vw;
    font-family: 'Orbitron', cursive;
    text-align: center;
    color: #FFCC33;
    margin-bottom: 3px;
}

.subheading {
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: lightgray;
}

.nav {
    display: inline-block;
    width: 25%;
    text-align: center;
    color: #082149;
    font-family: 'Poiret One', cursive;
    font-size: 1.7vw;
    transition: all .5s ease-out;
    vertical-align: top;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: lightgray;
    cursor: pointer;
}

.heading p:hover {
    font-size: 2.2vw;
}

.body {
    background-color: #EEEFF1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 11vw;
}

.into-pic {
    border-bottom: 2px solid lightgray;
    overflow: scroll;
}

.title {
    text-align: center;
    padding-top: 15px;
    font: 40px 'Luckiest Guy', cursive;
    color: darkgreen;
}

.into-pic img {
    display: block;
    margin: auto;
    width: 78%;
}

.intro p {
    font: 20px 'Baloo bhaina', cursive;
    padding: 10px;
    line-height: 1.25em;
    letter-spacing: .01em;
    border-bottom: 2px solid lightgray;
}

#address {
    border-bottom-width: 0px;
    padding-bottom: 0px
}

#latlong {
    font-size: 10px;
    padding-top: 0px;
}

.NicoliNet {
    font: 25px 'orbitron', cursive;
    cursor: pointer;
}
