.saveTitle {
    text-align: center;
    padding-top: 15px;
    font: 40px 'Joti One', cursive;
    color: black;
}

#story {
    padding: 10px;
    font: 20px "Supermercado One", sans-serif;
}

.buttons {
    margin: auto;
}

.storyButton {
    width: 49%;
    font-size: 15px;
    font-family: "orbitron", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: grey;
    border: 0px solid black;
}