#selectui {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#optionselect {
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
}

.optionpic {
    width: 24.2%;
    padding: 10px;
}
