/*MOAR Fonts:
font-family: 'Orbitron', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Baloo Bhaina', cursive;
*/

form {
    padding: 10px;
}

#custom {
    width: 350px;
}

#test {
    width: 150px;
}

#print {
    width: 100px;
}
